{% extends "admin/change_list.html" %}
{% load i18n admin_urls seosnap_list admin_list %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{{ cl.opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url 'admin:seosnap_website_changelist' %}">{% trans "Websites" %}</a>
&rsaquo; <a href="{% url 'admin:seosnap_website_change' website.id|admin_urlquote %}">{{ website }}</a>
&rsaquo; {{ cl.opts.verbose_name_plural|capfirst }}
</div>
{% endblock %}
{% endif %}

{% block object-tools-items %}
<li>
    {% url 'admin:seosnap_website_websitequeue_add' website.id|admin_urlquote as add_url %}
    <a href="{% add_preserved_filters add_url %}" class="addlink">{% trans "Add Queue Item" %}</a>
</li>
<li>
    {% url 'admin:seosnap_website_change' website.id|admin_urlquote as website_url %}
    <a href="{{ website_url }}" class="website-link">{% trans "Website" %}</a>
</li>
<li>
    {% url 'admin:seosnap_website_websitepages' website.id|admin_urlquote as pages_url %}
    <a href="{% add_preserved_filters pages_url %}" class="pageslink">{% trans "Pages" %}</a>
</li>
{% endblock %}

